/test/ export-ignore linguist-vendored
/docs/ export-ignore linguist-vendored
/typedoc.json export-ignore
/.typedoc-tsconfig.jsonc export-ignore
/.editorconfig export-ignore
/build.sh export-ignore linguist-vendored
/Writerside export-ignore linguist-vendored
/benchmark export-ignore linguist-vendored
/tools/ export-ignore
/llms.txt export-ignore linguist-vendored
/happydom.ts export-ignore
/bunfig.toml export-ignore
/package-lock.json export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/coverage/ export-ignore linguist-vendored
/tsconfig.json export-ignore
/.github/** linguist-vendored
# exclude all files in test/ from stats
/rollup.config.js linguist-vendored
/docs/** linguist-vendored
/tools/** linguist-vendored
/dist/** linguist-vendored
/test/** linguist-vendored
/coverage/** linguist-vendored
#
# do not replace lf by crlf
*.css text
*.json text
*.css text
*.js text
*.ts text
*.sh text
text eol=lf

